/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    background-image: url('../src/assets/movie.jpg');
    text-align: center;
    color:white;
    background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     background-size: cover;

  }

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color:white !important;
}

.mat-form-field-underline {
 /*change color of underline*/
  background-color: white !important;
} 

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: yellow !important;;
} 
