.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .tp-card {
    max-width: 400px;
 }
 .tp-header-image {
    background-image: url('https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg');
    background-size: cover;
 }